<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelNest</title>
</head>
<body>
    <a href="/list">HOME</a>
    <h3>LIST DETAILS : </h3>
    <ul>
        <li><%= list.title %></li>
        <li><%= list.description %></li>
        <li> &#8377 <%= list.price.toLocaleString("en-IN") %></li>
        <li><%= list.location %></li>
        <li><%= list.country %></li>
    </ul>
    <br>
    <a href="/list/<%= list._id %>/edit">EDIT</a>
    <form method="POST" action="/list/<%=list._id%>?_method=DELETE">
        <button>DELETE</button>
    </form>
</body>
</html>